<?xml version="1.0" encoding="UTF-8"?>
<configuration>
         
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>        
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%date [%thread] %-5level [%class{0}]:%msg%n</pattern>
            </layout>
        </encoder>
    </appender>
         
         
    <appender name="demomvc" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/log/demomvc.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/log/demomvc%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>13</maxIndex>
        </rollingPolicy>
               
                 
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
                 
            
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>        
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%date [%thread] %-5level [%class{0}]:%msg%n</pattern>
            </layout>
        </encoder>
             
    </appender>

    <appender name="test" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/log/demomvc_test.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.dir}/log/demomvc_test%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>13</maxIndex>
        </rollingPolicy>
               
                 
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
                 
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>    
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%date [%thread] %-5level [%class{0}]:%msg%n</pattern>
            </layout>
        </encoder>

             
    </appender>
       <!--  additivity="false"-->
    <logger name="com.may" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
         
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.ibatis" level="debug"/>

</configuration>